#gallery{
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	/* grid-template-rows: 1fr 1fr 1fr; */
	row-gap: 0.1rem;
	column-gap: 0.1rem;
	/* justify-content: center; */
	
}
figure{
	border: 0.2rem solid rgb(1, 6, 153);
	justify-content: center;
	text-align: center;
    margin-left: 2%;
    margin-right: 2%;
}
img{
    width: 70%;
    height: 70%; 
    border: 0.03em rgba(0, 0, 0, 0.1);
    clip-path: polygon(10% 0%, 100% 0%, 90% 100%, 0% 100%);
}
@media (max-width: 900px){
	#gallery{
		grid-template-columns: 1fr 1fr;
	}
	
}
@media (max-width: 600px){
	#gallery{
		grid-template-columns: 1fr;
	}
}

