/* Vraj Joshi 8912494 */
body {
    width: 80%;
    max-width: 1200px;
    margin: 0 auto;
    font: 16px Arial, sans-serif;
    padding: 20px;
}
aside{
    float: right;
}
.custom-style{
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: 2px solid #F40;
    border-radius: 20px;
    padding: 10px;
    margin:10px 0;
}
h1, h2{
    color: rgb(255, 189, 108);
    font-variant: small-caps;
}
footer p{
    font-size: 14px;
    color: aquamarine;
}
img.mainimg{
    border: 2px solid #333;
}
figcaption{
    font-style: bold;
    font-variant: small-caps;
}
q{
    font-family: cursive;
    font-style: italic;
    font-size: 1.2em;
}
ul li{
    list-style-type: none;
    line-height: 1.5;
}
ul > li > a{
    text-decoration: none;
    color: blueviolet;
}
aside a:hover{
    color:#F40;
}
